<section>
    <div class="container">

        <div class="row text-white py-5 justify-content-around">

            <div class="col-md-4">
                <div class="inner">
                    <h2>LOCATION</h2>
                    <h3 class="fs-6 fw-medium">2215 John Daniel Drive</h3>
                    <h4 class="fs-6 fw-medium">Clark, MO 65243</h4>
                </div>

                

            </div>


            <div class="col-md-4">
                <div class="inner">
                    <h2>AROUND THE WEB</h2>
                    <div class="icons ps-5 mx-auto">
                 <i  class="fa-brands fa-facebook mx-1 icon"></i>
                 <i  class="fa-brands fa-twitter mx-1 icon"></i>
                 <i  class="fa-brands fa-linkedin-in mx-1 icon"></i>
                 <i  class="fa-solid fa-globe mx-1 icon"></i>

                    </div>
                </div>

                

            </div>



            <div class="col-md-4">
                <div class="inner">
                    <h2>ABOUT FREELANCER</h2>
                    <h3 class="fs-6 fw-medium">Freelance is a free to use, licensed Bootstrap theme created by Route</h3>
                    
                </div>

                

            </div>




        </div>


    </div>




</section>
