<nav class="navbar navbar-expand-lg py-4  fw-bolder text-uppercase fixed-top">

    <div class="container fs-3">
      <a class="startPage" routerLink="home" routerLinkActive="p-3 rounded-3">start framework</a>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav fs-6 ms-auto px-3">
        
          <li class="nav-item">
            <a routerLink="about" routerLinkActive="p-3 rounded-3 bgLink" >About</a>
          </li>
          <li class="nav-item">
            <a routerLink="portfolio" routerLinkActive="p-3 rounded-3 bgLink" >portfolio</a>
          </li>
          <li class="nav-item">
            <a routerLink="contact" routerLinkActive="p-3 rounded-3 bgLink">contact</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
