<section>
    <div class="photo mx-auto">
        <img src="/avataaars.svg" class="w-100" alt="framework photo">
    </div>
    <h2 class="text-white text-capitalize fw-bolder text-center my-3 fs-1">start Framework</h2>

    <div class="icons d-flex justify-content-center align-items-center">
        <div  class="line me-3" ></div>
        <i class="fa-solid fa-star fs-4 text-center"></i>
        <div  class="line ms-3" ></div>
    </div>
    <h4 class="text-white  text-center my-3 fs-6">Graphic Artist - Web Designer - Illustrator</h4>
   
</section>